body{
   margin:0;
   padding:0;
  height: 100vh;
  background: linear-gradient(rgb(47,150,163), rgb(48, 62,143));
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  box-sizing: border-box;

}

.navbar{
    padding: 10px;
    background-color:#263238;
 
}

.navbar h1{
  color: whitesmoke; 
  text-align: center;
  
 
}


.container{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 0 px; 
    padding:0 px;
    /* border: solid whitesmoke 1px;
    border-radius: 5px; */
    align-items: center;

}

.input-container input {
    margin: 7px;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.input-container input:hover{
    background-color:#e3f2fd;
}


.btn-sm{
    color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
}

.other-city-container{
    margin:0;
    padding:0;
    
}

 .other-cities table{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    padding:0px;
    border: solid whitesmoke .5px;
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;

}

  .other-cities tr {
    /* border-bottom: solid whitesmoke 1px; */
    padding:10px;
    width: 100%;
    
} 


.other-cities  a{
    color:whitesmoke;
    text-align: center;
} 

.weather-container{
    padding: 0px;
     margin:0px;

}

.city-weather{
    border: solid whitesmoke 1px;
    border-radius: 5px;
    margin:10px;
    padding:10px;
 
}

#convert-to-celsius,
#convert-to-fahrenheit

{
    background-color:#ef5350;
    color: whitesmoke;
    border-radius: 3px;
    font-size:14px;
    margin: 10px;

}


.daily{
    border: solid whitesmoke 1px;
    border-radius: 5px;
    padding :5px; 
    margin:5px;
    text-align: left;

}