body{
   margin:0;
   padding:0;
  height: 100vh;
  background: linear-gradient(rgb(47,150,163), rgb(48, 62,143));
  font-family: 'Montserrat', sans-serif;
  color:#fafafa;
  box-sizing: border-box;


}


.navbar{
    padding: 10px;
    background-color:#263238;
 
}

.navbar h1{
  color: #fafafa;
  display: block;
  margin: auto;
  
 
}


.container{
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding:0px;
    width: 100%;

}

.input-container input {
    margin: 0px;
    padding:8px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 14px 0px 14px 0px;
    border-bottom: solid 3px #ef5350;
    cursor: pointer;
    background-color:#fafafa;
    transition: 0.2s ease-out;
}

.input-container input:focus{
    background-color:#e0f7fa;
}


.btn-sm{
    color: #fafafa;
    font-size: 18px;
    cursor: pointer;
}


.other-city-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

.other-city-container table {
    margin-top: 20px;
    padding: 0px;
    border-collapse: separate;
    /* border: solid #fafafa 1px;
    border-radius: 5px; */
}

.othercities
{
    color:#fafafa;
    text-align: left;
    padding:2px;
} 

.weather-container{
    padding: 0px;
     margin:0px;

}

.city-weather-container {
    border: solid #fafafa 1px;
    border-radius: 5px;
    margin:10px;
    padding:10px;
 
}

#convert-to-celsius,
#convert-to-fahrenheit

{
    background-color:#ef5350;
    color: #fafafa;
    border: none;
    outline:none;
    border-radius: 14px 0px 14px 0px;
    border-bottom: solid 3px #fafafa;
    font-size:14px;
    margin: 10px;
    transition: 0.2s ease-out;

}
#uv-index{
    padding: 8px;
    border-radius: 5px;
}


.daily{
    border: solid #fafafa 1px;
    border-radius: 5px;
    padding :5px; 
    margin:5px;
    text-align: left;
    background-color:rgba(168, 63, 63, 0.2) ;
 

}

@media only screen and (max-width: 857px) {
    body {
      height: 100%;
    }

    

    .input-container input{
        width: 100%;
    }


.city-weather-container {
    padding:20px;
    margin: auto;
 
}

#weather_image{
    display: block;
    margin:auto;
}

#convert-to-celsius,
#convert-to-fahrenheit{
    display: block;
    margin:10px auto 10px auto;
    width: 80%;
}

.forecast-container {
    padding:0px;
    margin:auto;
}

h5{
    text-align: center;
    padding: 10px;

}

    .dailyrow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        margin: auto;
        padding:0;

    }

    .daily{
        text-align: center;
    }
  }