body{
   margin:0;
   padding:0;
  height: 100vh;
  background: linear-gradient(rgb(47,150,163), rgb(48, 62,143));
  font-family: 'Montserrat', sans-serif;
  color:#fafafa;
  box-sizing: border-box;

}

.navbar{
    padding: 10px;
    background-color:#263238;
 
}

.navbar h1{
  color: #fafafa;
  text-align: center;
  
 
}


.container{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding:0px;
    align-items: center;

}

.input-container input {
    margin: 0px;
    padding:8px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 14px 0px 14px 0px;
    border-bottom: solid 3px #ef5350;
    cursor: pointer;
    background-color:#fafafa;
    transition: 0.2s ease-out;
}

.input-container input:focus{
    background-color:#e0f7fa;
}


.btn-sm{
    color: #fafafa;
    font-size: 18px;
    cursor: pointer;
}

.other-city-container{
    margin:0;
    padding:0;
    /* border: solid #fafafa .5px;
    border-radius: 5px; */
}

 .other-city-container table{
    display: flex;
    flex-direction: column;
    margin-top:20px;
    padding:0px;
    width: 100%;
    border-collapse: separate;
    border: solid #fafafa 1px;
    border-radius: 5px;
}

  .other-city-container tr {
    /* border: solid  #fafafa 1px; */
    padding:15px;
    width: 100%;
    
} 

.other-city-container td {
    background-color:transparent;
    background-clip: padding-box;
    /* border: solid #fafafa .5px; */
     width: 100%;
    /* border-radius: 5px; */
    
} 


.other-city-container a{
    color:#fafafa;
    text-align: center;
} 

.weather-container{
    padding: 0px;
     margin:0px;

}

.city-weather-container {
    border: solid #fafafa 1px;
    border-radius: 5px;
    margin:10px;
    padding:10px;
 
}

#convert-to-celsius,
#convert-to-fahrenheit

{
    background-color:#ef5350;
    color: #fafafa;
    border: none;
    outline:none;
    border-radius: 14px 0px 14px 0px;
    border-bottom: solid 3px #fafafa;
    font-size:14px;
    margin: 10px;
    transition: 0.2s ease-out;

}


.daily{
    border: solid #fafafa 1px;
    border-radius: 5px;
    padding :5px; 
    margin:5px;
    text-align: left;
    background-color:rgba(168, 63, 63, 0.2) ;
 

}